// layout

.main {
    position: relative;
}

.head {
    padding: @base-offset - 2 @base-offset;
    cursor: move;

    &_title {
        font-size: 16px;
        font-weight: 700;
    }

    &_text {
        margin: 4px 0 0;
        font-size: 12px;
    }
}

.foot {
    &:extend(.cf-mix all);
    padding: @base-offset;

    &_action {
        float: right;

        &_btn {
            font-size: 0;

            .btn + .btn {
                margin-left: 10px;
            }
        }
    }

    .cf {
        clear: right;
    }
}
