// sprite

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 1em;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    transition: opacity .3s ease;

    &:before {
        content: "\00a0";
    }

    @media (max-width: @mobile) {
        font-size: 15px;
        top: 18px;
        right: 14px;
    }
}

.a-logo {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    padding: 10px 0 0;
    font-size: 20px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background: #fff;

    &__small {
        width: 24px;
        height: 24px;
        font-size: 12px;
        padding: 6px 0 0;
    }
}
