{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
    },
    "rules": {
        "indent": [
            "error",
            4,
            { "SwitchCase": 1 }
        ],
        "import/no-extraneous-dependencies": 0,
    }
}