{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            { "SwitchCase": 1 }
        ],
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,
        "arrow-body-style": 0
    }
}
