{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "error",
        "max-len": ["error", {
            "code": 120,
            "comments": 120,
            "tabWidth": 4,
            "ignoreUrls": true,
            "ignoreTrailingComments": false,
            "ignoreComments": false,
            "ignoreTemplateLiterals": true
        }],
        "indent": [
            "error",
            4,
            { "SwitchCase": 1 }
        ],
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,
        "arrow-body-style": 0
    }
}
