// layout



.main{
    position: relative;
}




.head{
    padding: @base-offset - 2 @base-offset ;
    cursor: move;
    &_title{
        font-size: 16px;
        font-weight: 700;
        color: #343434;
    }
    &_text{
        margin: 4px 0 0;
        font-size: 12px;
        color: #343434;
        @media (max-width: @mobile-settings){
            display: none;
        }
    }
}




.content{
    border-top: 1px solid @border-color;
}




.foot{
    &:extend(.cf-mix all);
    padding: @base-offset;
    border-top: 1px solid @border-color;
    &_action{
        float: right;
        &_btn{
            font-size: 0;
            .btn + .btn{
                margin-left: 10px;
            }
        }
    }
}

