<div class="main">
    <div class="main_close">
        <svg>
            <use xlink:href="#icon-cross" />
        </svg>
    </div>

    <div class="head">
        <div i18n="assistant_preview_header" class="head_title">
        </div>
        <div i18n="assistant_preview_header_info" class="head_text">
        </div>
    </div>

    <div class="foot">
        <button i18n="assistant_block" class="btn btn-cancel" id="block-element" type="button"></button>
        <button i18n="assistant_preview_end" class="btn btn-default" id="end-preview" type="button"></button>
        <button i18n="assistant_another_element" class="btn btn-primary" id="select-another-element" type="button"></button>
    </div>
</div>