<div class="main">
    <div class="close"></div>

    <div class="head">
        <div i18n="assistant_preview_header" class="head_title">
        </div>
        <div i18n="assistant_preview_header_info" class="head_text">
        </div>
    </div>

    <div class="foot">
        <button i18n="assistant_another_element" class="btn btn-default" id="select-another-element" type="button"></button>

        <div class="foot_action">
            <div class="foot_action_btn">
                <button i18n="assistant_preview_end" class="btn btn-primary" id="end-preview" type="button"></button>
                <button i18n="assistant_block" class="btn btn-cancel" id="block-element" type="button"></button>
            </div>
        </div>
    </div>
</div>