<div class="main">
    <div class="close"></div>
    <div class="menu-head">
        <div class="menu-head_title">
            <span class="menu-head_name"></span>
            <div class="confidence-indication wot-hide">
                <a class="wot-indicator wot-hide" target="_blank" href="https://link.adtidy.org/forward.html?action=wot_scorecard&from=main_menu&app=assistant&domain=example.org">
                    <i id="WotIndication" class="adg-wot tooltip" data-title="Site reputation indicator"></i>
                </a>
                <i id="ConfidenceIndication" class="adg-wot-confidence tooltip" data-title="Reputation Confidence Level"></i>
            </div>
        </div>
        <div class="menu-head_text wot-hide" id="WotDescriptionText"></div>
    </div>

    <div class="menu-filter">
        <div i18n="menu_filtration_status" class="menu-filter_lbl">
        </div>
        <div class="menu-filter_val">
            <input type="checkbox" class="menu-filter_input" id="is-filter">
            <label for="is-filter" class="menu-filter_label"></label>
        </div>
    </div>

    <div class="menu">
        <div id="do-not-block-30-sec" class="menu__btn menu__btn--clock" i18n="menu_do_not_filter_30_sec"></div>
        <div id="block-ad" class="menu__btn menu__btn--landscape" i18n="menu_block_ad_on_site"></div>
        <div id="report-abuse" class="menu__btn menu__btn--report" i18n="menu_report_abuse"></div>
        <div id="site-report" class="menu__btn menu__btn--security" i18n="menu_site_report"></div>
        <div id="assistant-settings" class="menu__btn menu__btn--settings" i18n="menu_settings"></div>
    </div>
</div>
