<div class="main mobile main-menu">
    <button i18n-title="close" class="adg-close main-menu__btn main-menu__btn--close">close</button>
    <button i18n-title="minus" class="adg-minus main-menu__btn main-menu__btn--minus">minus</button>
    <button i18n-title="plus" class="adg-plus main-menu__btn main-menu__btn--plus">plus</button>
    <button i18n-title="assistant_preview" class="adg-preview main-menu__btn main-menu__btn--preview">preview</button>
    <button i18n-title="assistant_block" class="adg-accept main-menu__btn main-menu__btn--accept">accept</button>
</div>
