<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol
        id="icon-cross"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
    >
        <path d="M6 5.99976L18 17.9998" />
        <path d="M6 17.9998L18 5.99976" />
    </symbol>
    <symbol
        id="icon-arrow-down"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path d="M18 16L12 10L6 16" />
    </symbol>
    <symbol
        id="icon-checkbox-off"
        viewBox="0 0 24 24"
        fill="none"
        fill-rule="evenodd"
        clip-rule="evenodd"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path d="M21 3H3V21H21V3Z" />
    </symbol>
    <symbol
        id="icon-checkbox-on"
        viewBox="0 0 24 24"
        fill="none"
        fill-rule="evenodd"
        clip-rule="evenodd"
    >
        <path fill="currentColor" d="M22 2V22H2V2H22Z" />
        <path fill="white" d="M17.4885 8.43092C17.8028 8.70071 17.8389 9.17421 17.5691 9.48851L11.028 17.1087L6.46449 12.4546C6.17448 12.1589 6.17915 11.684 6.4749 11.394C6.77066 11.104 7.24551 11.1087 7.53551 11.4044L10.9546 14.8913L16.4309 8.51151C16.7007 8.19721 17.1742 8.16113 17.4885 8.43092Z" />
    </symbol>
</svg>
