//
// Buttons
// --------------------------------------------------

.btn {
    display: inline-block;
    margin: 0;
    padding: 18px 16px;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    user-select: none;
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    transition: background .3s ease, color .3s ease, border-color .3s ease;

    &:disabled,
    &[disabled],
    &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

// Alternate buttons
// --------------------------------------------------

.btn-another-el {
    @media (max-width: @mobile){
        font-size: 9px;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        border: 0;
        color: #000;
        &:hover{
            border-color: transparent;
            background: transparent;
            color: #000;
        }
    }
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
    font-size: 20px;
    padding: 14px 24px 12px;
}

.btn-sm {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-xs {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

.btn-upload {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 600%;
        line-height: 600%;
        width: auto;
        height: auto;
        opacity: 0;
        cursor: pointer;
    }
}
