// Fonts

@import (inline) "fonts.css";

.weight-regular() {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

.weight-medium() {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 600;
}

.weight-bold() {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
}
